{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}">
    <title>Derick Weather App</title>
</head>

<body>


<!-- -->
<div class="search">
    <form action="weather" method="post">
        {% csrf_token %}
        <input type="search" id="cityname" name="cityname" placeholder="City name.." required>
        <input type="submit" value="Search">
    </form>
</div><br>
</body>
</html>